<h1><%= @snack.name %></h1>
 <h2><%= @snack.price %></h2>
 <h4>Location:</h4>
 <table>
   <th> Location</th>
   <th> Average Costs</th>
 <th></th>
    <% @snack.machines.each do |machine| %>
     <td><%= machine.location %></td>
     <td><%= machine.total_snacks %> kind of snacks.</td>
     <td>Average price of: <%= machine.snacks.average_price %></td>

     <% end %>
</table>
